/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* 1a General Style that are applyng to all pages */
body {
    font-family: 'Mukta', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header, title */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono',
        monospace;
    text-transform: none;
}

header a {
    text-decoration: none;
    color: inherit;
}

#title {
    color: #2a3f29;
    text-align: center;
    margin: 5px;
    padding: 5px;
    text-shadow: 2px 2px 8px #97c3b4;
}

/* Navigation bar style */
.nav-bar {
    font-family: 'REM', sans-serif;
    color: #52645d;
}

#nav {
    text-align: center;
    padding: 5px 30px 30px 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 4px 10px 4px 10px;
}

/* Footer. Style   */
.social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #97c3b4;
    border-radius: 15px 15px 0 0;

}

footer {
    padding-top: 30px;
    margin-top: auto;
}

.google-map {
    height: 200px;
}

.google-map iframe {
    height: 100%;
    width: 100%;

}

/* style the current page by adding background */
.active {
    background-color: #97c3b4;
    border-radius: 15px;
}


/* style the "opening time" and "Find us (Footer)" */
legend {
    font-family: 'REM', sans-serif;
    text-align: center;
    color: #2a3f29;
    font-size: 20px;
}

/* 1 Index.html */

/* Style the booking of word "here" from promotion section - link to Contact page  */
p a {
    text-decoration: none;
    color: #2a3e40;
    font-weight: 600;
    background-color: #97c3b4;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 120%;
}

/* change the bullets from unordered list  */
ul {
    list-style-type: square;
}



/* style the background picture, image and text */

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-container>h5 {

    color: #edf3e8;
    padding: 5px;
    background-color: #97c3b4c9;
}

#background {
    width: 100%;
    background-color: #2a3e40;
    background-image: url('../picture/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.driver {

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* style the body elemnts: text divs */

aside {
    width: 300px;
}

.about-us {
    margin: inherit;
    padding: 25px;
    font-size: 20px;
}

.fooddelivery {
    width: 300px;
    padding: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}


.timetable {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 10px;
}


/* 2 Service.html */

.services {
    position: relative;
    width: 300px;
    height: 538px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #edf3e8;
    font-size: 20px;
}

.services1 {
    position: relative;
    width: 300px;
    height: 538px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* 3 Contact.html */

textarea {
    width: 100%
}

/* style the banner of the page */
.banner {
    width: 100%;
    height: 250px;
    background-color: #2a3e40;
    background-image: url(../picture/wheels.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.booking {
    margin: auto;
    border: 3px solid #97c3b4;
    text-align: left;
    border-radius: 15px;
}

.form {
    display: block;
    border: 1px solid #97c3b4;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 15px;
}

/* style the submit button  */

.submit {
    display: block;
    width: fit-content;
    padding: 5px 30px 5px 30px;
    margin: auto;
    font-family: 'REM', sans-serif;
    font-size: large;
    background-color: #97c3b4;
    border: 0;
    border-radius: 15px;
}

#book {
    text-align: center;
}

#info {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
}


@media only screen and (max-width: 412px) {

    /* For small screen; the text from background image will be in the center */
    .flex-container>h5 {
        font-size: 20px;
        text-align: center;
    }

    /* Change the direction on small screens  */

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #sidetoside {
        display: flex;
        background-color: #2a3e40;
        flex-direction: column;
        align-items: center;
    }

    #sidetoside1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Change the size on small screen  */

    .driver {
        display: block;
        width: 90%;
    }

    #title {
        font-size: 2em;
    }

    #info {
        width: 90%;
    }

    #background {
        height: 300px;
    }

    .nav-bar {
        font-size: small;
    }

    .conversion {
        padding: 5px;
        width: 300px;
        height: 300px;
    }


    .booking {
        font-size: small;
        line-height: 1.5;
        padding: 10px;
        width: 90%;
    }

    .social-media {
        font-size: 1.5rem;
        padding: 1px;
    }

    .services {
        height: 355px;
    }

    .services1 {
        height: 355px;
    }




}



@media only screen and (min-width: 412px) {

    /* For small screen; the text from background image will be in the center */
    .flex-container>h5 {
        font-size: 25px;
        text-align: center;
    }

    /* Change the direction on larger screen screens  */
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #sidetoside {
        display: flex;
        background-color: #2a3e40;
        flex-direction: column;
        align-items: center;
    }


    #sidetoside1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Change the size on larger screen  */
    #title {
        font-size: 3em;
    }

    #background {
        height: 442px;
    }

    .nav-bar {
        font-size: large;
    }

    .driver {
        display: block;
        width: 50%;
    }

    .conversion {
        position: relative;
        padding: 5px;
        width: 400px;
        height: 400px;
    }

    .booking {
        font-size: larger;
        line-height: 1.8;
        padding: 10px;
        width: 75%;
    }

    .social-media {
        font-size: 2rem;
        padding: 5px;
    }

    .services {
        height: 355px;
    }

    .services1 {
        height: 355px;
    }

    #info {
        width: 75%;
    }

}


@media only screen and (min-width: 768px) {

    /* For largen screen; the text from background image will be in the right */
    .flex-container>h5 {
        font-size: 30px;
        text-align: right;

    }

    /* Change the direction on larger screen screens  */
    .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #sidetoside {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        background-color: #2a3e40;
    }

    #sidetoside1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Change the size on larger screen  */

    .nav-bar {
        font-size: x-large;
    }

    .driver {
        width: 30%;
        height: auto;
    }

    .conversion {
        position: relative;
        padding: 5px;
        width: 515px;
        height: 400px;
    }

    .booking {
        font-size: x-large;
        line-height: 2;
        padding: 30px;
        width: 50%;
    }

    .social-media {
        font-size: 3rem;
        padding: 10px;
    }


    #title {
        font-size: 5em;
    }

    #background {
        height: 442px;
    }

    .services {
        height: 538px;
    }

    .services1 {
        height: 538px;
    }

    #info {
        width: 50%;
    }

    /* Hover efect on larger screen; size increase  */
    .nav-bar a:hover {

        font-size: 150%;
        font-weight: 500;

    }

    .conversion:hover {
        width: 538px;
        height: 538px;
        border-radius: 20px;
    }
}