@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
    font-family: 'Mukta', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: inherit;
    display: block;
}

nav a {
    text-decoration: none;
    color: inherit;



}


h1 {
    font-family: 'REM', sans-serif;
    text-transform: none;

}

footer {
    margin-top: auto;
}

#title {
    color: #25645d;
    text-align: center;
    margin: 5px;
    padding: 5px
}

@media only screen and (max-width: 412px) {
    #title {
        font-size: 2em;
    }
}



@media only screen and (min-width: 412px) {
    #title {
        font-size: 3em;
    }
}

@media only screen and (min-width: 768px) {
    #title {
        font-size: 5em;
    }
}